In [5]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [6]:
import json

from polarization import get_polarization, get_polarization_by_day
from utils import load_event
from constants import OUTPUT_DIR, EVENTS

In [7]:
event_polarization = {}

for e in EVENTS:
    data = load_event(e)
    display(data)
    event_polarization[e] = get_polarization(e, data)

with open(f"{OUTPUT_DIR}/polarization_leaveout.json", 'w') as f:
    json.dump(event_polarization, f)

,author,post,time,politics
0,Yosarian2,"the uk is , by definition , not a republic sin...",2016-03-25,D
1,VStarffin,"i realize im late to this , but i figured id t...",2016-03-26,R
2,SirTifiably,whoever wants to call themselves a democrat si...,2016-03-29,R
3,x2Infinity,there does not appear to be any obligation on ...,2016-03-25,R
4,DrSandbags,"depends . practically speaking , kasich only g...",2016-03-25,R
...,...,...,...,...
988,ophelia27,the original cold war is over . putin doesnt w...,2016-09-18,R
989,Positive_pressure,he is a vote of no confidence for people who w...,2016-09-03,R
990,RIPGeorgeHarrison,"among registered voters , trump leads clinton ...",2016-09-15,R
991,SebastianJanssen,it has been almost 50 years since a candidate ...,2016-09-09,R
992,BoredDead2,you make a lot of accusations against trump bu...,2016-09-02,R

0.5 0.5 282

In [8]:
for e in EVENTS:
    pol_by_day = get_polarization_by_day(e, data)
    display(pol_by_day)

    pol_by_day.to_csv(f"{OUTPUT_DIR}/{e}_polarization_by_day.csv")

     pol  random_pol  user_len        time
0    0.5         0.5         9  2016-03-25
1    0.5         0.5         3  2016-03-26
2    0.5         0.5         6  2016-03-27
3    0.5         0.5         3  2016-03-28
4    0.5         0.5         6  2016-03-29
..   ...         ...       ...         ...
173  0.5         0.5         4  2016-09-17
174  0.5         0.5         6  2016-09-18
175  0.5         0.5         9  2016-09-19
176  0.5         0.5         9  2016-09-20
177  0.5         0.5         7  2016-09-21

[178 rows x 4 columns]